kestra/flows/main_thanos.self_heal_attempt.yml
id: self_heal_attempt
namespace: thanos

description: |
  One attempt of: Brain strategy -> Cline execution.
  Outputs minimal fields needed for retry logic.

inputs:
  - id: payload
    type: JSON
    required: true
  - id: attempt_number
    type: INT
    required: true
  - id: previous_failure_log
    type: STRING
    required: false

tasks:
  - id: brain_user_message
    type: io.kestra.plugin.core.debug.Return
    format: |
      Repo: {{ inputs.payload.repository.full_name ?? '' }}
      Issue: {{ inputs.payload.issue.title ?? '' }}
      Body: {{ inputs.payload.issue.body ?? '' }}
      Previous failure log (if any): {{ inputs.previous_failure_log ?? '' }}

  - id: brain_strategy
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.together.xyz/v1/chat/completions"
    method: POST
    contentType: "application/json"
    options:
      allowFailed: true
    headers:
      Authorization: "Bearer {{ secret('TOGETHER_API_KEY') }}"
    body: |
      {
        "model": "meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo",
        "messages": [
          {
            "role": "system",
            "content": "You are a Senior Software Engineer. Return a single JSON object only (no markdown, no extra text). Required keys: repo_full_name, issue_title, issue_body, hypothesis, commands_to_try, files_of_interest, edit_plan, acceptance_criteria, handoff_prompt. The handoff_prompt must be a concise, direct instruction to Cline to implement the fix in the repo and run tests."
          },
          {
            "role": "user",
            "content": {{ outputs.brain_user_message.value | toJson }}
          }
        ],
        "response_format": { "type": "json_object" }
      }

  - id: brain_handoff_prompt_b64
    type: io.kestra.plugin.core.debug.Return
    format: "{{ (outputs.brain_strategy.code ?? 0) == 200 ? (fromJson(fromJson(outputs.brain_strategy.body).choices[0].message.content).handoff_prompt | base64encode) : ((('Together API error. code=' ~ (outputs.brain_strategy.code ?? 'unknown')) ~ ' body=' ~ (outputs.brain_strategy.body ?? '')) | base64encode) }}"

  - id: hand_cline
    type: io.kestra.plugin.scripts.shell.Commands
    containerImage: thanos/kitchen-sink-runner:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    env:
      OPENAI_API_KEY: "{{ secret('OPENAI_API_KEY') ?? '' }}"
      GITHUB_TOKEN: "{{ secret('GITHUB_TOKEN') ?? '' }}"
    outputFiles:
      - cline.log
      - failure.log
      - patch.diff
    commands:
      - |
        bash -lc '
          set +e
          set -o pipefail

          log_file="{{ workingDir }}/cline.log"
          failure_file="{{ workingDir }}/failure.log"
          patch_file="{{ workingDir }}/patch.diff"

          mkdir -p "{{ workingDir }}"
          : > "$log_file"
          : > "$failure_file"
          : > "$patch_file"

          export CLINE_DIR="{{ workingDir }}/.cline"
          mkdir -p "$CLINE_DIR"

          repo_dir="{{ workingDir }}/repo"
          rm -rf "$repo_dir"
          mkdir -p "$repo_dir"

          repo_full_name="{{ inputs.payload.repository.full_name ?? '' }}"
          repo_clone_url="{{ inputs.payload.repository.clone_url ?? '' }}"
          issue_number="{{ inputs.payload.issue.number ?? '' }}"

          if [ -z "$repo_clone_url" ] && [ -n "$repo_full_name" ]; then
            repo_clone_url="https://github.com/${repo_full_name}.git"
          fi

          if [ -z "$repo_clone_url" ]; then
            echo "No repository clone URL found in payload" | tee -a "$log_file"
            echo "::{\"outputs\":{\"exit_code\":2}}::"
            echo "exit_code=2" | tee "$failure_file"
            exit 0
          fi

          if [ -n "${GITHUB_TOKEN:-}" ] && [ -n "$repo_full_name" ]; then
            repo_clone_url="https://x-access-token:${GITHUB_TOKEN}@github.com/${repo_full_name}.git"
          fi

          (
            cd "{{ workingDir }}" &&
            GIT_TERMINAL_PROMPT=0 git clone --depth 50 "$repo_clone_url" repo
          ) 2>&1 | tee -a "$log_file"

          if [ "${PIPESTATUS[0]}" -ne 0 ]; then
            echo "Repo clone failed" | tee -a "$log_file"
            echo "::{\"outputs\":{\"exit_code\":3}}::"
            echo "exit_code=3" | tee "$failure_file"
            exit 0
          fi

          if [ -n "${OPENAI_API_KEY:-}" ]; then
            export OPENAI_API_KEY
            if ! script -q -e -c "cline -F plain auth -p openai-native -k \"${OPENAI_API_KEY}\" -m gpt-4o-mini" /dev/null; then
              if ! script -q -e -c "cline -F plain auth openai-native \"${OPENAI_API_KEY}\"" /dev/null; then
                echo "Cline auth failed" | tee -a "$log_file"
                echo "::{\"outputs\":{\"exit_code\":5}}::"
                echo "exit_code=5" | tee "$failure_file"
                exit 0
              fi
            fi

            cline -F plain config set act-mode-api-provider=openai-native || true
            cline -F plain config set plan-mode-api-provider=openai-native || true
            cline -F plain config set strict-plan-mode-enabled=false || true
            cline -F plain config set mode=act || true
          fi

          echo "Running Cline attempt={{ inputs.attempt_number }}" | tee -a "$log_file"
          prompt_b64="{{ outputs.brain_handoff_prompt_b64.value }}"
          echo "$prompt_b64" | base64 -d > "{{ workingDir }}/cline_prompt.txt"
          prompt="$(cat {{ workingDir }}/cline_prompt.txt)"
          (
            cd "$repo_dir" &&
            script -q -e -c "cline -F plain -y -m act -o \"${prompt}\"" /dev/null
          ) 2>&1 | tee -a "$log_file"
          code=$?

          if [ "$code" -eq 0 ]; then
            if git -C repo diff --quiet; then
              echo "No changes detected; skipping commit/push" | tee -a "$log_file"
            else
              if [ -z "${GITHUB_TOKEN:-}" ]; then
                echo "GITHUB_TOKEN not set; skipping commit/push" | tee -a "$log_file"
              else
                branch="fix/issue-${issue_number:-unknown}-attempt-{{ inputs.attempt_number }}"
                (
                  cd "$repo_dir" &&
                  git config user.email "bot@thanos.ai" &&
                  git config user.name "ThanosBot" &&
                  git checkout -b "$branch" &&
                  git add -A &&
                  git commit -m "Fix issue #${issue_number:-unknown}" &&
                  git push origin "$branch"
                ) 2>&1 | tee -a "$log_file"

                if [ "${PIPESTATUS[0]}" -ne 0 ]; then
                  echo "Push failed" | tee -a "$log_file"
                  code=4
                fi
              fi
            fi
          fi

          (
            cd "{{ workingDir }}" &&
            git -C repo diff > "$patch_file"
          ) 2>/dev/null || true

          if [ ! -s "$patch_file" ]; then
            printf "\n" > "$patch_file"
          fi

          echo "exit_code=${code}" | tee "$failure_file"
          echo "::{\"outputs\":{\"exit_code\":${code}}}::"
          exit 0
        '

  - id: collect_failure
    type: io.kestra.plugin.core.debug.Return
    format: "{{ read(outputs.hand_cline.outputFiles['cline.log']) }}"

outputs:
  - id: exit_code
    type: STRING
    value: "{{ ((outputs.hand_cline.vars.exit_code ?? 1) ~ '') }}"
  - id: failure_log
    type: STRING
    value: "{{ outputs.collect_failure.value }}"
  - id: patch_diff
    type: STRING
    value: "{{ read(outputs.hand_cline.outputFiles['patch.diff']) }}"
  - id: patch_diff_b64
    type: STRING
    value: "{{ read(outputs.hand_cline.outputFiles['patch.diff']) | base64encode }}"
