kestra/flows/main_thanos.self_heal_pipeline.yml
id: self_heal_pipeline
namespace: thanos

description: |
  Pipeline: Brain (Together strategy JSON) -> Hand (Cline execution) with 1 retry on failure.

inputs:
  - id: payload
    type: JSON
    required: true

variables:
  max_attempts: 2

tasks:
  - id: attempt_0
    type: io.kestra.plugin.core.flow.Subflow
    namespace: thanos
    flowId: self_heal_attempt
    wait: true
    inputs:
      payload: "{{ inputs.payload }}"
      attempt_number: 0

  - id: maybe_retry
    type: io.kestra.plugin.core.flow.If
    condition: "{{ ((outputs.attempt_0.outputs.exit_code ?? 1) ~ '') != '0' }}"
    then:
      - id: attempt_1
        type: io.kestra.plugin.core.flow.Subflow
        namespace: thanos
        flowId: self_heal_attempt
        wait: true
        inputs:
          payload: "{{ inputs.payload }}"
          attempt_number: 1
          previous_failure_log: "{{ outputs.attempt_0.outputs.failure_log }}"

  - id: fail_if_all_failed
    type: io.kestra.plugin.core.flow.If
    condition: "{{ ((outputs.attempt_0.outputs.exit_code ?? 1) ~ '') != '0' and ((outputs.attempt_1 ?? null) != null) and (((outputs.attempt_1.outputs.exit_code ?? 1) ~ '') != '0') }}"
    then:
      - id: fail_pipeline
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          image: thanos/kitchen-sink-runner:latest
        commands:
          - |
            bash -lc 'exit 1'

  - id: guard_on_success
    type: io.kestra.plugin.core.flow.If
    condition: "{{ ((outputs.attempt_0.outputs.exit_code ?? 1) ~ '') == '0' or (((outputs.attempt_1 ?? null) != null) and (((outputs.attempt_1.outputs.exit_code ?? 1) ~ '') == '0')) }}"
    then:
      - id: guard_checks
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          image: thanos/kitchen-sink-runner:latest
        env:
          GITHUB_TOKEN: "{{ secret('GITHUB_TOKEN') ?? '' }}"
          PATCH_DIFF_B64: "{{ ((outputs.attempt_0.outputs.exit_code ?? 1) ~ '') != '0' ? (((outputs.attempt_1 ?? null) != null) ? (outputs.attempt_1.outputs.patch_diff_b64 ?? '') : '') : (outputs.attempt_0.outputs.patch_diff_b64 ?? '') }}"
        outputFiles:
          - guard.log
        commands:
          - |
            bash -lc '
              set -euo pipefail

              log_file="{{ workingDir }}/guard.log"
              : > "$log_file"

              repo_dir="{{ workingDir }}/repo"
              rm -rf "$repo_dir"
              mkdir -p "$repo_dir"

              repo_full_name="{{ inputs.payload.repository.full_name ?? '' }}"
              repo_clone_url="{{ inputs.payload.repository.clone_url ?? '' }}"

              if [ -z "$repo_clone_url" ] && [ -n "$repo_full_name" ]; then
                repo_clone_url="https://github.com/${repo_full_name}.git"
              fi

              if [ -n "${GITHUB_TOKEN:-}" ] && [ -n "$repo_full_name" ]; then
                repo_clone_url="https://x-access-token:${GITHUB_TOKEN}@github.com/${repo_full_name}.git"
              fi

              if [ -z "$repo_clone_url" ]; then
                echo "Guard: missing repository clone URL" | tee -a "$log_file"
                exit 20
              fi

              (
                cd "{{ workingDir }}" &&
                GIT_TERMINAL_PROMPT=0 git clone --depth 50 "$repo_clone_url" repo
              ) 2>&1 | tee -a "$log_file"

              patch_file="{{ workingDir }}/patch.diff"
              if [ -z "${PATCH_DIFF_B64:-}" ]; then
                echo "Guard: PATCH_DIFF_B64 missing" | tee -a "$log_file"
                exit 21
              fi

              echo "$PATCH_DIFF_B64" | base64 -d > "$patch_file"
              if grep -E -n "(sk-[A-Za-z0-9]{20,}|tgp_[A-Za-z0-9_\-]{10,}|ghp_[A-Za-z0-9]{20,})" "$patch_file" >/dev/null 2>&1; then
                echo "Guard: potential secret detected in patch.diff" | tee -a "$log_file"
                grep -E -n "(sk-[A-Za-z0-9]{20,}|tgp_[A-Za-z0-9_\-]{10,}|ghp_[A-Za-z0-9]{20,})" "$patch_file" | tee -a "$log_file" || true
                exit 22
              fi

              if grep -q "^diff --git " "$patch_file"; then
                (
                  cd "$repo_dir" &&
                  git apply --whitespace=nowarn "$patch_file"
                ) 2>&1 | tee -a "$log_file"
              else
                echo "Guard: no patch to apply" | tee -a "$log_file"
              fi

              if [ -d "$repo_dir/tests" ] || [ -f "$repo_dir/pytest.ini" ] || [ -f "$repo_dir/pyproject.toml" ]; then
                (
                  cd "$repo_dir" &&
                  python3 -m pytest -q
                ) 2>&1 | tee -a "$log_file" || exit 23
              else
                echo "Guard: skipping pytest (no obvious python test config)" | tee -a "$log_file"
              fi

              if command -v pre-commit >/dev/null 2>&1 && [ -f "$repo_dir/.pre-commit-config.yaml" ]; then
                (
                  cd "$repo_dir" &&
                  pre-commit run --all-files
                ) 2>&1 | tee -a "$log_file" || exit 24
              else
                echo "Guard: skipping pre-commit (not installed or no config)" | tee -a "$log_file"
              fi

              echo "Guard: OK" | tee -a "$log_file"
            '

      - id: ai_summarize
        type: io.kestra.plugin.ai.agent.AIAgent
        description: "Kestra AI Agent summarizes pipeline execution data and makes recommendations"
        systemMessage: |
          You are a technical assistant that summarizes CI/CD pipeline executions.
          Analyze the provided data and:
          1. Provide a one-line summary of what happened
          2. List key actions taken (max 5 bullet points)
          3. Make a recommendation for next steps
          Be concise and factual. Focus on what changed and whether it succeeded.
        prompt: |
          Summarize this self-healing pipeline execution:
          
          Repository: {{ inputs.payload.repository.full_name ?? 'unknown' }}
          Issue: #{{ inputs.payload.issue.number ?? '?' }} - {{ inputs.payload.issue.title ?? 'unknown' }}
          
          Attempt Result: {{ ((outputs.attempt_0.outputs.exit_code ?? 1) ~ '') == '0' ? 'SUCCESS on attempt 1' : 'SUCCESS on attempt 2 (retry worked)' }}
          Guard Status: PASSED
          
          Provide: 1) One-line summary 2) Key actions (bullets) 3) Recommendation
        provider:
          type: io.kestra.plugin.ai.provider.OpenAI
          modelName: gpt-4o-mini
          apiKey: "{{ secret('OPENAI_API_KEY') }}"

      - id: create_pr
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          image: thanos/kitchen-sink-runner:latest
        env:
          GITHUB_TOKEN: "{{ secret('GITHUB_TOKEN') ?? '' }}"
        commands:
          - |
            bash -lc '
              set -euo pipefail

              repo_full_name="{{ inputs.payload.repository.full_name ?? '' }}"
              issue_number="{{ inputs.payload.issue.number ?? '' }}"
              issue_title="{{ inputs.payload.issue.title ?? 'Fix issue' }}"
              attempt_num="{{ ((outputs.attempt_0.outputs.exit_code ?? 1) ~ '') == '0' ? '0' : '1' }}"
              branch="fix/issue-${issue_number}-attempt-${attempt_num}"

              if [ -z "${GITHUB_TOKEN:-}" ]; then
                echo "GITHUB_TOKEN not set, skipping PR creation"
                exit 0
              fi

              if [ -z "$repo_full_name" ] || [ -z "$issue_number" ]; then
                echo "Missing repo or issue number, skipping PR creation"
                exit 0
              fi

              pr_title="Fix #${issue_number}: ${issue_title}"
              pr_body="Automated fix by Thanos AI for issue #${issue_number}. Analyzed with AI, fixed with Cline CLI, passed Guard checks."

              echo "Creating PR from branch: $branch"
              
              pr_response=$(curl -sS -X POST \
                -H "Authorization: token ${GITHUB_TOKEN}" \
                -H "Accept: application/vnd.github.v3+json" \
                "https://api.github.com/repos/${repo_full_name}/pulls" \
                -d "{
                  \"title\": \"${pr_title}\",
                  \"body\": $(echo "$pr_body" | jq -Rs .),
                  \"head\": \"${branch}\",
                  \"base\": \"main\"
                }" 2>&1) || true

              echo "PR Response: $pr_response"
              
              pr_url=$(echo "$pr_response" | jq -r ".html_url // empty")
              pr_number=$(echo "$pr_response" | jq -r ".number // empty")

              if [ -n "$pr_url" ] && [ "$pr_url" != "null" ]; then
                echo "PR created: $pr_url"
                
                comment_body="Thanos AI created a fix: ${pr_url} (Attempts: $((attempt_num + 1)), Guard: Passed)"

                curl -sS -X POST \
                  -H "Authorization: token ${GITHUB_TOKEN}" \
                  -H "Accept: application/vnd.github.v3+json" \
                  "https://api.github.com/repos/${repo_full_name}/issues/${issue_number}/comments" \
                  -d "{\"body\": $(echo "$comment_body" | jq -Rs .)}" || true

                echo "Comment posted on issue #${issue_number}"
              else
                echo "PR creation failed or branch does not exist yet"
                echo "Response: $pr_response"
              fi
            '

  - id: final_exit
    type: io.kestra.plugin.core.debug.Return
    format: "{{ ((outputs.attempt_0.outputs.exit_code ?? 1) ~ '') != '0' and ((outputs.attempt_1 ?? null) != null) ? (outputs.attempt_1.outputs.exit_code ?? outputs.attempt_0.outputs.exit_code) : outputs.attempt_0.outputs.exit_code }}"
